/* Common */
:root {
  --my-white:#fff;
  --my-dwhite: ##D9DADC;
  --my-black: #000;
  --hevenly: #b4d0e7;
  --my-lgrey:#BEBCBB;
  --my-grey:#363636;
  --my-dark-grey: #1f1f1f;
  --my-orange: #CD3D0F;
  --my-blu: #3a6de7;
  --my-dark-blu: #161c3b;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */
.debug {
  border: 1px solid var(--black);
  background-color: #006cfa;
  color: var(--black);
  text-align: center;
  min-height: 50px;
}

.display-none {
  display: none;
}



.my-btxt {
  color: var(--my-black);
}

.my-txt-blu {
  color: var(--my-blu);
}

.my-txt-grey {
  color: grey;
}

.my-wp-20 {
  width: 20%;
}

.btn-w-150 {
  width: 150px;
}
.btn-w-200 {
  width: 200px;
}

.my-bg-lgrey {
  background-color: var(--my-lgrey);
}

.my-bg-white {
  background-color: var(--my-white);
}

.my-bg-dgrey {
  background-color: var(--my-dark-grey);
}

.my-bg-dblu {
  background-color: var(--my-dark-blu);
}

.my-bg-black {
  background-color: var(--my-black);
}

.my-bg-blu {
  background-color: var(--my-blu);
}


/* general */
html {
  overflow: unset;
}

body {
  background-color: white;

}

/* header */
header {
  height: 120px;
}

#sony-bar {
  height: 50px;
}

nav.navbar {
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 1500;
}

.dropdown-menu {
  border: none;
  margin-top: 25px;
}


#btn-nav {
  background-color: var(--my-grey);
  color: var(--my-white);
  border-radius: 24px;
  border: none;
}



/* main */
/* section hero */
#hero {
  min-height: 570px;
}


#hero  .container-fluid:first-child{
  width: 100%;
  min-height: 570px;
  background-color: var(--my-black);
  background-image: url('../img/jumbo-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* section hero-one  */
#hero-one  .container-fluid{
  width: 100%;
  min-height: 570px;
  background-color: var(--my-black);
  background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* footer */
footer li {
  list-style: none;
  padding: 5px 0;
}

footer a {
  text-decoration: none;
}

/* button effect */
.btn {
  transition: all 1s linear;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 1px var(--my-dark-grey);
}

/* hero effect  */
#hero .card:hover {
  
  cursor: pointer;
  border: 3px solid var(--my-blu);
  outline-offset: 0.7rem;
  padding: 0.1rem;
}

/* carousel effect */
#carousel div.col-4:hover {
  cursor: pointer;
  border-bottom: 3px solid var(--my-blu);
  color: var(--my-black);
}

#carousel div.col-4:hover p {
  color: var(--my-black);
}

/* effetti nuove-uscite */
#nuove-uscite .col-6:hover{
  cursor: pointer;
  transform: translateY(-25px);
}

/* effetti sconti */
#sconti .col-12.col-md-4:hover{
  cursor: pointer;
  transform: translateY(-25px);
  
}

/* social effect */
#social .col-6.col-md:hover{
  cursor: pointer;
  transform: translateY(-25px);
}


/* media query */
@media all and (min-width: 1200px) {
  .hero-div {
    width: 42%!important; 
  }

  
  
}

@media all and (min-width: 990px) {


  #text-footer {
   width: 50%;
  }

}




